@font-face {
  font-family: MontserratBlack;
  src: url(../public/fonts/MontserratBlack.ttf);
}

@font-face {
  font-family: MontserratItalic;
  src: url(../public/fonts/MontserratItalic.otf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../public/fonts/MontserratMedium.otf);
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  margin: 0;
  letter-spacing: -3px;
}

.App-header {
  margin: 0 calc(10px + 1vmin);
  font-family: MontserratBlack, sans-serif;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 15vmin);
  line-height: calc(10px + 12vmin);;
  color: white;
}

.App-sub-header {
  font-size: calc(10px + 1.6vmin);
}

