body {
  --bgcolour: #FFDE00; 
  --maincolour: #009536;
  --mainaccent: #8CD790;
  --mainbold: #1A2521;
  --mainboldOP: #1a25214a;
  --table: #eee7d6; 
}

body.dark {
    --bgcolour: #1A2521;
    --maincolour: #ffdd00c9;
    --mainaccent: #8CD790;
    --mainbold: #eee7d6cc;
    --mainboldOP: #1A25214a;
    --table: #1A2521;
}

html,
body {
  padding: 0;
  margin: 0;
  /* transition: background-color 0.6s, color 0.6s; */
  background: var(--bgcolour);
  color: var(--maincolour);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {

  body {
  }
}
