@font-face {
  font-family: MontserratBlack;
  src: url(../public/fonts/MontserratBlack.ttf);
}

@font-face {
  font-family: MontserratItalic;
  src: url(../public/fonts/MontserratItalic.otf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../public/fonts/MontserratMedium.otf);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.App {
  text-align: center;
}

.logo {
  margin: 0;
  letter-spacing: -3px;
}

.header {
  margin: 0 calc(10px + 1vmin);
  font-family: MontserratBlack, sans-serif;
  height: 90vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 15vmin);
  line-height: calc(10px + 12vmin);;
  /* color: rgb(240, 240, 240); */
}

.subheader {
  font-size: calc(10px + 1.6vmin);
  line-height: calc(10px + 3vmin);
}

.ctas {
  margin-top: 10vmin;
}

.ctaplay {
  font-family: MontserratItalic;
  font-size: calc(10px + 3vmin);
  text-align: center;
  margin-top: 20px;
}

.ctalearn {
  font-family: MontserratItalic;
  font-size: calc(10px + 3vmin);
  text-align: center;
  margin-top: 20px;
}

.body {
  font-family: MontserratMedium;
  font-size: calc(10px + 1.6vmin);
  line-height: calc(10px + 4vmin);
}
